body {

    text-align: center;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.container{

    border: 1px solid grey;
    width: 70%;
    height: 100%;
    text-align: left;
    padding: 1rem;
    margin: 0 auto;
    
}


.container h1{
    text-align: center;
}
.container p{
    text-align: justify;
}

.cabecera {

    width: 100%;
    background-color: blue;
    -webkit-box-shadow: -10px 32px 17px 9px rgba(21,217,171,0.73);
    -moz-box-shadow: -10px 32px 17px 9px rgba(21,217,171,0.73);
    box-shadow: -10px 32px 17px 9px rgba(21,217,171,0.73);
    text-align: center;
}
.cabecera span{

    font-size: 25px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}